{% extends "base.html" %}
{% block title %}Salary{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}
{% block content %}

<!-- Header -->
<div class="container-fluid" style="background-color: #ffffff;">
    <div class="wrapper">
        <div class="main">
            <main class="content">
                <div class="container-fluid p-1">
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 mt-2">
                            <ul class="nav justify-content-start">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">
                                        <h5><b>Salary Sheet</b></h5>
                                    </a>
                                </li>
                                <li>
                                    <div class="form-outline text-start">
              {% set month_dict = {'sal001': 'January', 'sal002': 'February', 'sal003': 'March', 'sal004': 'April',
              'sal005': 'May', 'sal006': 'June', 'sal007': 'July', 'sal008': 'August', 'sal009': 'September', 'sal0010': 'October',
              'sal0011': 'November', 'sal0012': 'December'} %}
                                        <input name="" id="forminput" class="form-control" readonly placeholder="{{month_dict[salid]}}">
                                    </div>
                                </li>
                            </ul>
                        </div>
                          <div class="col end-0">
                <ul class="nav justify-content-end  mt-2">
                    <li class="nav-item me-2">
                        <div class="dropdown">
                           <label   style="    width: 100px;
                           height: 40px;
                           border-radius: 10px;
                           text-align: center;
                           padding-top: 9px;
                           color: white;
                           font-weight: bold;
                          " id="salary_status">

                           </label>
                        </div>
                    </li>
                    {% if salary_status=="None" or salary_status=="Pending" %}
                    <li class="nav-item me-2">
                        <div class="dropdown">
                            <a href="{{url_for('set_status', username=username, salid=salid, status='Inreview')}}">
                            <button class="btn border-1 btn-secondary " id="btn_1"type="button"  aria-haspopup="true"
                                    aria-expanded="false">
                                Submit for Approval
                            </button>
                            </a>
                        </div>
                    </li>
                    {% endif %}
                    {% if salary_status=="Inreview" and username=='Admin' %}
                    <li class="nav-item me-2">
                        <div class="dropdown">
                            <a href="{{url_for('set_status', username=username, salid=salid, status='Approved')}}">
                            <button class="btn border-1 btn-secondary " id="btn_2 "type="button" aria-haspopup="true"
                                    aria-expanded="false">
                                Accept
                            </button>
                        </a>
                        </div>
                    </li>
                    {% endif %}
                    {% if salary_status=="Inreview" and username=='Admin' %}
                    <li class="nav-item me-2">
                        <div class="dropdown">
                            <a href="{{url_for('set_status', username=username, salid=salid, status='Pending')}}">
                            <button class="btn border-1 btn-secondary " id="btn_3 "type="button" aria-haspopup="true"
                                    aria-expanded="false">
                                Decline
                            </button>
                            </a>
                        </div>
                    </li>
                    {% endif %}
                    {% if salary_status=="Approved" and username=='Admin'  %}
                    <li class="nav-item me-2">
                        <div class="dropdown">
                            <a href="{{url_for('set_status', username=username, salid=salid, status='Paid')}}">
                            <button class="btn border-1 btn-secondary " id=" "type="button" aria-haspopup="true"
                                    aria-expanded="false">
                                Paid
                            </button>
                            </a>
                        </div>
                    </li>
                    {% endif %}



                    {% if salary_status=='Paid' %}
                    <li class="nav-item me-2">
                        <div class="dropdown">
                            <a href="{{url_for('pdf', username=username, salid=salid)}}">
                            <button class="btn border-1 btn-secondary " type="button" aria-haspopup="true" id="btn_4"
                                    aria-expanded="false">
                                Download All
                            </button>
                            </a>
                        </div>
                    </li>
                    {% endif %}
                    {% if salary_status=='Paid' or salary_status=='Approved' %}
                    <li class="nav-item me-2">
                        <div class="dropdown">

                             <button class="btn border-1 btn-secondary " type="button" aria-haspopup="true"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal1"id="btn_5"
                                    aria-expanded="false">
                                Generate Excelsheet
                            </button>

                        </div>
                    </li>
                    {% endif %}
                    {% if salary_status=='Paid' %}
                    <li class="nav-item me-2">
                        <div class="dropdown">
                            <a href="{{url_for('send_employee_salaryslip', username=username, salid=salid)}}">
                            <button class="btn border-1 btn-secondary " type="button" aria-haspopup="true"
                                    aria-expanded="false">
                                Send Email
                            </button>
                            </a>
                        </div>
                    </li>
                    {% endif %}



                </ul>
            </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

<!-- Buttons  -->
<div class="container-fluid" style="background-color: #F4F5F7;">
    <div class="container-fluid p-3">
        <!-- Employees Salary Data -->
        <table class="table table-bordered" style="border: 2px solid black !important;">
            <!-- Table Header  -->
            <thead class="text-center center align-baseline">
            <tr class="border-bottom" scope="row" style="border: 2px solid !important;">
                <th scope="col" rowspan="2" class="align-middle" style="background-color: #DFE1E6;">Employee Name</th>
                <th scope="col rwo-2" rowspan="2" class="align-middle" style="background-color: #DFE1E6;"> Leave Taken For LWP</th>
                <th scope="row" colspan="8" class="align-middle" style="background-color: #DCFDD9;">Earning</th>
                <th scope="row col" rowspan="2" class="align-middle" style="background-color: #DFE1E6;">Gross Salary</th>
                <th scope="col-6" colspan="6" class="align-middle" style="background-color: #FDD9DB;">Deduction</th>
                <th scope="row-2 col" rowspan="2" class="align-middle" style="background-color: #DFE1E6;">Net Payable</th>
                <th rowspan="2" class="align-middle" style="background-color: #DFE1E6;"></th>
            </tr>
            <tr class="border-bottom" style="border:2px solid black !important;">
                <th scope="col" class="align-middle" style="background-color: #DCFDD9;">Basic</th>
                <th scope="col" class="align-middle" style="background-color: #DCFDD9;">HRA</th>
                <th scope="col" class="align-middle" style="background-color: #DCFDD9;">DA</th>
                <th scope="col" class="align-middle" style="background-color: #DCFDD9;">Other Allowance</th>
                <th scope="col" class="align-middle" style="background-color: #DCFDD9;">Incentive</th>
                <th scope="col" class="align-middle" style="background-color: #DCFDD9;">Arrears</th>
                <th scope="col" class="align-middle" style="background-color: #DCFDD9;">Outstanding Adjustments</th>
                <th scope="col" class="align-middle" style="background-color: #DCFDD9;">Statutory Bonus</th>
                <th scope="col" class="align-middle" style="background-color: #FDD9DB;">EPFO</th>
                <th scope="col" class="align-middle" style="background-color: #FDD9DB;">PT</th>
                <th scope="col" class="align-middle" style="background-color: #FDD9DB;">TDS</th>
                <th scope="col" class="align-middle" style="background-color: #FDD9DB;">Leave Deduction</th>
                <th scope="col" class="align-middle" style="background-color: #FDD9DB;">Other Deduction</th>
                <th scope="col" class="align-middle" style="background-color: #FDD9DB;">Outstanding Adjustment</th>
            </tr>
            </thead>

            <!-- Salary data  -->
            <tbody style="background-color:#ffffff;" class="text-center">
                {% for i in data%}

                <tr>
                    <td scope="col" >{{data[i]['employeeName']}}</td>
                    <td scope="col">{{ data[i]['lwp'] }}</td>
                    <td scope="col">{{data[i]['basic']}}</td>
                    <td scope="col">{{data[i]['hra']}}</td>
                    <td scope="col">{{data[i]['da']}}</td>
                    <td scope="col">{{data[i]['otherAllowance']}}</td>
                    <td scope="col">{{data[i]['incentive']}}</td>
                    <td scope="col">{{data[i]['arrears']}}</td>
                    <td scope="col">{{data[i]['grsOutstandingAdjustment']}}</td>
                    <td scope="col">{{data[i]['statutoryBonus']}}</td>
                    <td scope="col">{{data[i]['grossSalary']}}</td>
                    <td scope="col">{{data[i]['epfo']}}</td>
                    <td scope="col">{{data[i]['pt']}}</td>
                    <td scope="col">{{data[i]['tds']}}</td>
                    <td scope="col">{{data[i]['leaveDeduction']}}</td>
                    <td scope="col">{{data[i]['otherDeduction']}}</td>
                    <td scope="col">{{data[i]['dedOutstandingAdjustment']}}</td>
                    <td scope="col">{{data[i]['netSalary']}}</td>
                    
                    <!-- Edit Button  -->
                    {% if salary_status=='Paid' or salary_status=='Approved'%}
                    <td scope="col">
                         <a href="#" disabled>
                        <button class="btn border-1 btn-secondary" type="button" aria-haspopup="true"
                                aria-expanded="false"
                                style="color:#2F3990; border-color:#2F3990; background-color: #FFFFFF" disabled  >  
                            Edit
                        </button>
                    </a>
                </td>
                        {% else %}
                        <td scope="col">
                        <a href="{{url_for('salary_sheet_edit_', username=username,empid=data[i]['userID'],salid=salid)}}">
                            <button class="btn border-1 btn-secondary" type="button" aria-haspopup="true"
                                    aria-expanded="false"
                                    style="color:#2F3990; border-color:#2F3990; background-color: #FFFFFF"   >  
                                Edit
                            </button>
                        </a>

                    </td>

                        {% endif %}
                </tr>


                {% endfor%}
            </tbody>
        </table>

    </div>
</div>
<div class="modal " id="exampleModal1" tabindex="-1"
                         aria-labelledby="exampleModalLabel1" aria-hidden="true">
                        <div class="modal-dialog vh-100  modal-dialog-scrollable justify-content-end p-0 me-0 mt-0 mb-0">
                            <div class="modal-content vh-100">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel1"> Excel-sheet Format </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="container">

                                <form action="{{url_for('salary_sheet_view', username=username,salid=salid)}}"
                                      method="POST"
                                      id="salarydata">
                                    <div class="modal-body inline">
                                        <label for="field1" class="col-3 form-control-sm">Field-1</label>
                                        <select name="field1" id="field1" class="form-control-sm"
                                                onchange="removeSelectedOption(this, ['field2','field3', 'field4', 'field5'] )">
                                            <option > Choose Option</option>
                                            <option >Bank Name</option>
                                            <option >Employee Name</option>
                                            <option >IFSC Code</option>
                                            <option >Account Number</option>
                                            <option >Salary</option>
                                        </select>
                                    </div>
                                    <div class="modal-body inline">
                                        <label for="field2" class="col-3 form-control-sm">Field-2</label>
                                        <select name="field2" id="field2"class="form-control-sm"
                                                onchange="removeSelectedOption(this, ['field1','field3', 'field4', 'field5'] )">
                                            <option> Choose Option</option>
                                            <option>Bank Name</option>
                                            <option>Employee Name</option>
                                            <option>IFSC Code</option>
                                            <option>Account Number</option>
                                            <option>Salary</option>
                                        </select>
                                    </div>
                                    <div class="modal-body inline">
                                        <label for="field3" class="col-3 form-control-sm">Field-3</label>
                                        <select name="field3" id="field3"class="form-control-sm"
                                                onchange="removeSelectedOption(this, ['field2','field1', 'field4', 'field5'] )">
                                            <option> Choose Option</option>
                                            <option>Bank Name</option>
                                            <option>Employee Name</option>
                                            <option>IFSC Code</option>
                                            <option>Account Number</option>
                                            <option>Salary</option>
                                        </select>
                                    </div>
                                    <div class="modal-body inline">
                                        <label for="field4" class="col-3 form-control-sm">Field-4</label>
                                        <select name="field4" id="field4"class="form-control-sm"
                                                onchange="removeSelectedOption(this, ['field2','field3', 'field1', 'field5'] )">
                                            <option> Choose Option</option>
                                            <option>Bank Name</option>
                                            <option>Employee Name</option>
                                            <option>IFSC Code</option>
                                            <option>Account Number</option>
                                            <option>Salary</option>
                                        </select>
                                    </div>
                                    <div class="modal-body inline">
                                        <label for="field5" class="col-3 form-control-sm">Field-5</label>
                                        <select name="field5" id="field5"class="form-control-sm"
                                                onchange="removeSelectedOption(this, ['field2','field3', 'field1', 'field4'] )">
                                            <option value=""> Choose Option</option>
                                            <option>Bank Name</option>
                                            <option>Employee Name</option>
                                            <option>IFSC Code</option>
                                            <option>Account Number</option>
                                            <option>Salary</option>
                                        </select>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary form-control-sm"
                                                data-bs-dismiss="modal">Close
                                        </button>
                                        <button type="submit" value="submit" class="btn btn-primary">Generate
                                        </button>
                                    </div>
                                </form>

                                <div class="accordion" id="accordionExample">
                                    <!-- FORMATE FOR BOB -->
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseOne" aria-expanded="true"
                                                    aria-controls="collapseOne">
                                                Excelsheet Format For BOB
                                            </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse show"
                                             aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                            <div class="accordion-body ms-4">
                                                <div class="row">
                                                    <lable class="col-3">Field-1</lable>
                                                    <input class="col-4  form-control-sm" readonly placeholder="Bank Name">
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <lable class="col-3">Field-2</lable>
                                                    <input class="col-4 form-control-sm " readonly placeholder="Employee Name">
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <lable class="col-3">Field-3</lable>
                                                    <input class="col-4 form-control-sm " readonly placeholder="Account Number">
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <lable class="col-3">Field-4</lable>
                                                    <input class="col-4 form-control-sm " readonly placeholder="IFSC Code">
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <lable class="col-3">Field-5</lable>
                                                    <input class="col-4 form-control-sm " readonly placeholder="Salary">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- FORMATE FOR SBI -->
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingTwo">
                                            <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                                    aria-expanded="false" aria-controls="collapseTwo">
                                                Excelsheet Format For SBI
                                            </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse"
                                             aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                            <div class="accordion-body ms-4">
                                                <div class="row">
                                                    <lable class="col-3">Field-1</lable>
                                                    <input class="col-4 form-control-sm " readonly placeholder="Employee Name">
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <lable class="col-3">Field-2</lable>
                                                    <input class="col-4 form-control-sm " readonly placeholder="Bank Name">
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <lable class="col-3">Field-3</lable>
                                                    <input class="col-4 form-control-sm " readonly placeholder="Account Number">
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <lable class="col-3">Field-4</lable>
                                                    <input class="col-4 form-control-sm " readonly placeholder="IFSC Code">
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <lable class="col-3">Field-5</lable>
                                                    <input class="col-4 form-control-sm " readonly placeholder="Salary">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- FORMATE FOR ICICI -->
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingThree">
                                            <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                                    aria-expanded="false" aria-controls="collapseThree">
                                                Excelsheet Format for ICICI
                                            </button>
                                        </h2>
                                        <div id="collapseThree" class="accordion-collapse collapse"
                                             aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                            <div class="accordion-body ms-4">
                                                <div class="row">
                                                    <lable class="col-3">Field-1</lable>
                                                    <input class="col-4 form-control-sm " readonly placeholder="Employee Name">
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <lable class="col-3">Field-2</lable>
                                                    <input class="col-4 form-control-sm " readonly placeholder="Bank Name">
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <lable class="col-3">Field-3</lable>
                                                    <input class="col-4 form-control-sm " readonly placeholder="IFSC Code">
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <lable class="col-3">Field-4</lable>
                                                    <input class="col-4 form-control-sm " readonly placeholder="Account Number">
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <lable class="col-3">Field-5</lable>
                                                    <input class="col-4  form-control-sm" readonly placeholder="Salary">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    </div>
                            </div>
                        </div>
                    </div>









<script>
// Get the salary status value from an input element or any other source
const salaryStatus = '{{salary_status}}'; // replace with your own value

// Get the label element
const salaryStatusLabel = document.getElementById('salary_status');

// Set the background color and text based on the salary status
if (salaryStatus === 'Paid') {
  salaryStatusLabel.style.backgroundColor = "#28C76F";
  salaryStatusLabel.textContent = 'Paid';
} else if(salaryStatus==='Pending') {
  salaryStatusLabel.style.backgroundColor = "#FF9128";
  salaryStatusLabel.textContent = 'Pending';
}
else if(salaryStatus==='Approved') {
  salaryStatusLabel.style.backgroundColor = "#7367F0";
  salaryStatusLabel.textContent = 'Approved';
}
else if(salaryStatus==='Inreview') {
  salaryStatusLabel.style.backgroundColor =  "#7367F0";
  salaryStatusLabel.textContent = 'Inreview';
}else if(salaryStatus==='None') {
  salaryStatusLabel.style.backgroundColor = '';
  salaryStatusLabel.textContent = '';
}





  function removeSelectedOption(selectElement, otherSelectIds) {
    const selectedValue = selectElement.value;
    for (let i = 0; i < otherSelectIds.length; i++) {
      const otherSelect = document.getElementById(otherSelectIds[i]);
      const options = otherSelect.options;

      for (let j = 0; j < options.length; j++) {
        if (options[j].value === selectedValue) {
          options[j].remove();
          break;
        }
      }
    }
  }

</script>

{% endblock %}