{% extends "base.html" %}
{% block title %}TDS Data{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}
{% block content %}

<!-- Header  -->
<div class="container-fluid" style="background-color: #ffffff;">
    <div class="wrapper">
        <div class="main">
            <main class="content">
                <div class="container-fluid p-1">
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 mt-2">
                            <ul class="nav justify-content-start">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">
                                        <h5><b>TDS Data</b></h5>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

<div class="container-fluid" style="background-color: #E7E7E7;">
<div class="container-fluid p-3">


    <!-- TDS Data  -->
   <div class="col-lg-12">
       <div class="card mb-3 mt-3">
           <div class="row">
               <div class="col-12">
                   <div class="container-fluid">

                       <!--Principle on Home Loan -->
                       <div class="row mt-3">
                                                                            <div class="col-12">
                                                                                <h3>Principal on Home loan</h3>
                                                                            </div>
                                                                            <div class="col-6">
                                                                                <table class="table table-striped">
                                                                                    <thead>
                                                                                    <tr>
                                                                                        <th class="col-3">Application
                                                                                            No.
                                                                                        </th>
                                                                                        <td class="col-3">{{ data["tds_data"]["hlapplicationno"] }}</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th class="col-3">Loan Amount</th>
                                                                                        <td class="col-3">{{ data["tds_data"]["hlamount"] }}
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th class="col-3">Period of Home Loan
                                                                                        </th>
                                                                                        <td class="col-3">{{ data["tds_data"]["hlperiod"] }}
                                                                                        </td>
                                                                                    </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                            <div class="col-6">
                                                                                <table class="table table-striped">
                                                                                    <thead>
                                                                                    <tr>
                                                                                        <th class="col-3">Name of Person
                                                                                        </th>
                                                                                        <td class="col-3">{{ data["tds_data"]["hlname"] }}
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th class="col-3">Annual
                                                                                            Interest
                                                                                        </th>
                                                                                        <td class="col-3">{{ data["tds_data"]["hlannual"] }}
                                                                                        </td>
                                                                                    </tr>

                                                                                    </thead>
                                                                                    <tbody>
                                                                                    </tbody>
                                                                                </table>

                                                                            </div>
                                                                        </div>

                       <hr style="width:100%;text-align:left;margin-left:0">

                       <!--Premium on Insurance-->

                       <div class="row mt-3">
                                                                            <div class="col-12">
                                                                                <h3>Premium on Insurance</h3>
                                                                            </div>
                                                                            <div class="col-6">
                                                                                <table class="table table-striped">
                                                                                    <thead>
                                                                                    <tr>
                                                                                        <th class="col-3">Insurance No.
                                                                                        </th>
                                                                                        <td class="col-3">{{ data["tds_data"]["pino"] }}</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th class="col-3">Annual Amount of
                                                                                            Policy
                                                                                        </th>
                                                                                        <td class="col-3">{{ data["tds_data"]["piannual"] }}
                                                                                        </td>
                                                                                    </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                            <div class="col-6">
                                                                                <table class="table table-striped">
                                                                                    <thead>
                                                                                    <tr>
                                                                                        <th class="col-3">Name of Insured
                                                                                        </th>
                                                                                        <td class="col-3">{{ data["tds_data"]["piname"] }}
                                                                                        </td>
                                                                                    </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>

                       <hr style="width:100%;text-align:left;margin-left:0">

                       <!--Health Insurance (Self)-->

                       <div class="row mt-3">
                                                                            <div class="col-12">
                                                                                <h3>Health Insurance (Self)</h3>
                                                                            </div>
                                                                            <div class="col-6">
                                                                                <table class="table table-striped">
                                                                                    <thead>
                                                                                    <tr>
                                                                                        <th class="col-3">Insurance No.
                                                                                        </th>
                                                                                        <td class="col-3">{{ data["tds_data"]["hipno"] }}</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th class="col-3">Annual Amount of
                                                                                            Policy
                                                                                        </th>
                                                                                        <td class="col-3">{{ data["tds_data"]["hipannual"] }}
                                                                                        </td>
                                                                                    </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                            <div class="col-6">
                                                                                <table class="table table-striped">
                                                                                    <thead>
                                                                                    <tr>
                                                                                        <th class="col-3">Name of
                                                                                            Insured
                                                                                        </th>
                                                                                        <td class="col-3">{{ data["tds_data"]["hipname"] }}
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th class="col-3">Period of
                                                                                            Insurance
                                                                                        </th>
                                                                                        <td class="col-3">{{ data["tds_data"]["hipperiod"] }}
                                                                                        </td>
                                                                                    </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>

                       <hr style="width:100%;text-align:left;margin-left:0">

                       <!--Health Insurance (Spouse)-->

                       <div class="row mt-3">
                                                                            <div class="col-12">
                                                                                <h3>Health Insurance (Spouse)</h3>
                                                                            </div>
                                                                            <div class="col-6">
                                                                                <table class="table table-striped">
                                                                                    <thead>
                                                                                    <tr>
                                                                                        <th class="col-3">Insurance No.
                                                                                        </th>
                                                                                        <td class="col-3">{{ data["tds_data"]["hisno"] }}</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th class="col-3">Annual Amount of
                                                                                            Policy
                                                                                        </th>
                                                                                        <td class="col-3">{{ data["tds_data"]["hisname"] }}
                                                                                        </td>
                                                                                    </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                            <div class="col-6">
                                                                                <table class="table table-striped">
                                                                                    <thead>
                                                                                    <tr>
                                                                                        <th class="col-3">Name of
                                                                                            Insured
                                                                                        </th>
                                                                                        <td class="col-3">{{ data["tds_data"]["hisannual"] }}
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th class="col-3">Period of
                                                                                            Insurance
                                                                                        </th>
                                                                                        <td class="col-3">{{ data["tds_data"]["hisperiod"] }}
                                                                                        </td>
                                                                                    </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>

                       <hr style="width:100%;text-align:left;margin-left:0">

                       <!--Health Insurance (Father)-->

                       <div class="row mt-3">
                                                                            <div class="col-12">
                                                                                <h3>Health Insurance (Father)</h3>
                                                                            </div>
                                                                            <div class="col-6">
                                                                                <table class="table table-striped">
                                                                                    <thead>
                                                                                    <tr>
                                                                                        <th class="col-3">Insurance No.
                                                                                        </th>
                                                                                        <td class="col-3">{{ data["tds_data"]["hifno"] }}</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th class="col-3">Annual Amount of
                                                                                            Policy
                                                                                        </th>
                                                                                        <td class="col-3">{{ data["tds_data"]["hifannual"] }}
                                                                                        </td>
                                                                                    </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                            <div class="col-6">
                                                                                <table class="table table-striped">
                                                                                    <thead>
                                                                                    <tr>
                                                                                        <th class="col-3">Name of Insured
                                                                                        </th>
                                                                                        <td class="col-3">{{ data["tds_data"]["hifname"] }}
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th class="col-3">Period of Insurance
                                                                                        </th>
                                                                                        <td class="col-3">{{ data["tds_data"]["hifperiod"] }}
                                                                                        </td>
                                                                                    </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>

                       <hr style="width:100%;text-align:left;margin-left:0">

                       <!--Interest on Home Loan-->

                       <div class="row mt-3">
                                                                            <div class="col-12">
                                                                                <h3>Interest on Home Loan</h3>
                                                                            </div>
                                                                            <div class="col-6">
                                                                                <table class="table table-striped">
                                                                                    <thead>
                                                                                    <tr>
                                                                                        <th class="col-3">Annual Interest Payable/Paid
                                                                                        </th>
                                                                                        <td class="col-3">{{ data["tds_data"]["ihlannual"] }}</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th class="col-3">PAN of Lender
                                                                                        </th>
                                                                                        <td class="col-3">{{ data["tds_data"]["ihlpanlender"] }}
                                                                                        </td>
                                                                                    </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                            <div class="col-6">
                                                                                <table class="table table-striped">
                                                                                    <thead>
                                                                                    <tr>
                                                                                        <th class="col-3">Name of Person
                                                                                        </th>
                                                                                        <td class="col-3">{{ data["tds_data"]["ihlname"] }}
                                                                                        </td>
                                                                                    </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>

                       <hr style="width:100%;text-align:left;margin-left:0">

                       <!--Annual House Rent-->

                       <div class="row mt-3">
                                                                            <div class="col-12">
                                                                                <h3>Annual House Rent</h3>
                                                                            </div>
                                                                            <div class="col-6">
                                                                                <table class="table table-striped">
                                                                                    <thead>
                                                                                    <tr>
                                                                                        <th class="col-3">Current Month Rent
                                                                                        </th>
                                                                                        <td class="col-3">{{ data["tds_data"]["ahrmonth"] }}</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th class="col-3">Landloard PAN
                                                                                        </th>
                                                                                        <td class="col-3">{{ data["tds_data"]["ahrlandpann"] }}</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th class="col-3">Period of Date
                                                                                        </th>
                                                                                        <td class="col-3">{{ data["tds_data"]["ahrperiod"] }}
                                                                                        </td>
                                                                                    </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                            <div class="col-6">
                                                                                <table class="table table-striped">
                                                                                    <thead>
                                                                                    <tr>
                                                                                        <th class="col-3">Name of Landloard
                                                                                        </th>
                                                                                        <td class="col-3">{{ data["tds_data"]["ahrlandname"] }}
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th class="col-3">Landloard Address
                                                                                        </th>
                                                                                        <td class="col-3">{{ data["tds_data"]["ahrlandaddress"] }}
                                                                                        </td>
                                                                                    </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>

                       <hr style="width:100%;text-align:left;margin-left:0">

                       <!--ELSS(SIP)-->

                       <div class="row mt-3">
                                                                            <div class="col-12">
                                                                                <h3>ELSS(SIP)</h3>
                                                                            </div>
                                                                            <div class="col-6">
                                                                                <table class="table table-striped">
                                                                                    <thead>
                                                                                    <tr>
                                                                                        <th class="col-3">Annual Amount
                                                                                        </th>
                                                                                        <td class="col-3">{{ data["tds_data"]["elssannual"] }}
                                                                                        </td>
                                                                                    </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                            <div class="col-6">
                                                                                <table class="table table-striped">
                                                                                    <thead>
                                                                                    <tr>
                                                                                        <th class="col-3">Period of
                                                                                            Date
                                                                                        </th>
                                                                                        <td class="col-3">{{ data["tds_data"]["elssperiod"] }}
                                                                                        </td>
                                                                                    </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>

                       <hr style="width:100%;text-align:left;margin-left:0">

                       <!--Tution Fee-->

                       <div class="row mt-3">
                                                                            <div class="col-12">
                                                                                <h3>Tution Fee</h3>
                                                                            </div>
                                                                            <div class="col-6">
                                                                                <table class="table table-striped">
                                                                                    <thead>
                                                                                    <tr>
                                                                                        <th class="col-3">Annual Amount
                                                                                        </th>
                                                                                        <td class="col-3">{{ data["tds_data"]["tfannual"] }}
                                                                                        </td>
                                                                                    </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                            <div class="col-6">
                                                                                <table class="table table-striped">
                                                                                    <thead>
                                                                                    <tr>
                                                                                        <th class="col-3">Period of
                                                                                            Date
                                                                                        </th>
                                                                                        <td class="col-3">{{ data["tds_data"]["tfperiod"] }}
                                                                                        </td>
                                                                                    </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>

                   </div>
               </div>
           </div>
       </div>
   </div>

</div>
</div>


{% endblock %}